html {
  scroll-behavior: smooth;
}

body {
  background-color: #08061a;
  color: white;
  font-family: sans-serif;
}

.text-info {
  color: blueviolet !important;
}

#element {
  color: blueviolet;
}
footer {
  background-color: #111111; /* darker black */
  color: #f1f1f1;
  font-family: 'Segoe UI', sans-serif;
}

footer a {
  text-decoration: none;
  color: #f1f1f1;
}

footer a:hover {
  color: #0d6efd; /* Bootstrap primary color */
  transition: 0.3s ease-in-out;
}

footer h5 {
  font-weight: 600;
}

footer p {
  font-size: 0.9rem;
}




