* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(8, 6, 26);
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 99px;
  background-color: rgb(2, 2, 59);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: lavender;
  text-decoration: none;
  font-size: 1.1rem;
}

.left {
  font-size: 2rem;
}

.firstsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0;
}

.firstsection > div {
  width: 30%;
}

.leftsection {
  font-size: 2rem;
  width: 30px;
  margin-top: 20px;
}

.leftsection .buttons{
    padding: 50px 0;
}

.leftsection .btn{
    padding: 12px;
    background: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;

}

.rightsection {
  margin-top: 25px;
}

.purple {
  color: blueviolet;
}

#element {
  color: blueviolet;
}

.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}

.secondSection h1 {
  font-size: 1.9rem;
}

.secondSection .box {
  width: 80vw;
  background: white;
  height: 2px;
  margin: 56px 0;
  display: flex;
}

.secondSection .vertical{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
}

.image-top{
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}

.vertical-title{
    position: relative;
    top: 75px;
    width: 150px;

}

.vertical-desc{
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 9px;
}


.text-grey {
  color: gray;
}

main hr {
  border: 0;
  background-color: #9c97f1;
  height: 1.2px;
  margin: 40px 84px;
}

footer{
    background-color: #0e0e1a;
}

.footer{
    display: flex;
    padding: 23px 122px ;
    justify-content: space-evenly;
}

.footer ul{
    list-style: none;
}

.footer >div{
    width: 123px
}

footer .footer-rights{
    text-align: center;
    color: gray;
    padding: 12px 0;
}
